*~
obj/
*.ali
*.o
main
dsa
bin
configuration_server
quartiere1
quartiere2
quartiere3
default.cfg
default.gpr
ior.txt
quartiere_1
webserver_starter
webserver
server
view/partitions/
view/dsa/
*dsa-nameserver.sh
*ns.txt
QUARTIERE*_log.txt
num_progressivo_pacchetti.ad*
data/snapshot/quartiere*_snapshot.json
