*~
obj/
*.ali
*.o
main
dsa
bin
configuration_server
quartiere1
quartiere2
quartiere3
default.cfg
default.gpr
ior.txt
quartiere_1
quartiere_2
quartiere_3
webserver_starter
webserver
nameserver
name_server
server
partitions/
view/partitions/
view/dsa/
*dsa-nameserver.sh
*ns.txt
QUARTIERE*_log.txt
num_progressivo_pacchetti.ad*
data/snapshot/quartiere*_snapshot.json
data/log/quartiere*_stallo.json
data/abilita_invio_aggiornamenti.json
web_view/www_data/quartiere*
*.out
*.pdf
*.log
*.idx
*.aux
*.gz
*.toc
